.bg-footer {
    background-color: #2b2f33 !important;
    color: white;
    padding: 30px 0;
}
.bg-dark2 {
    background-color: #2b2f33da !important;
  }
  .bg-light2 {
    background-color: #d2d2d3d0 !important;
  }

  .text-faded {
    color: rgba(255, 255, 255, 0.7);
  }

.bg-backDesignBottom {
      background-image: url("../img/header.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.bg-backDesignTop {
    background-color: #fcfcfc;
}

.elementId1 {
    text-align: center;
}
.elementId2 {
    text-align: center;
}
.elementId3 {
    text-align: center;
}
.elementId4 {
    text-align: center;
}
#first {
    float: left;
    padding-top: 30px;
}
#second {
    text-align: left;
    overflow: visible;

    padding-top: 40px;
}
#third {
    text-align: left;

}
.shadow {
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}
.business-card {
    background-color: white;
    padding: 10px;
    text-align: center;
}
.readmore {
    background-color: white;
    border: 2px solid #FF4800;
    border-radius: 12px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}
    .readmore:hover {
        background-color: #FF4800;
        color: white;
    }
.profile-img {
    height: 120px;
    background: white;
}
.media-heading {
    padding-left: 20px;
}
.job {
    color: #666666;
    font-size: 17px;
    padding-left: 20px;
}
.bg-back {
    background-color: #fcfcfc;
}

.btn1 {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .btn-xl {
    padding: 1rem 2rem;
  }
  
  .btn-primary {
    background-color: #F05F40;
    border-color: #F05F40;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important;
  }
  
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  }