

body {
  font-family: Arial, sans-serif;
  background-image: url("../img/header.jpg");
  background-position: center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

#knapp {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}

.bg-footer {
  background-color: #2b2f33 !important;
  color: white;
  padding: 30px 0;
}
.bg-dark2 {
  background-color: #2b2f33da !important;
}
.shadow {
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.bg-backDesignBottom {
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #2b2f3383 !important;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
.bg-modal {
  background-color: #2b2f33 !important;
  padding-bottom: 20px;
  
}

.text-faded {
  color: rgba(255, 255, 255, 0.877);
}



header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);

}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (max-width: 375px) {
  header {
    margin-top: -100px;
  }
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.text-primary {
  color: #F05F40 !important;
}

.btn1 {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
